@use 'font';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-accent: var(--accent-hellowbot);
        --accent-hellowbot: 255 233 103;
        --navigation-height: 4.8rem;  
        --bottom-tab-height: 4.8rem;  
      }
    html {
        @apply font-pretendard;
    }
    
}